---
import { getCollection } from 'astro:content';
import Markdown from '../../layout/markdown.astro';

// 1. Generate a new path for every collection entry
export async function getStaticPaths() {
	return (await getCollection('docs')).map(entry => ({
		params: { slug: entry.slug },
		props: { entry },
	}));
}

// 2. When it's time to render, you can get the entry directly from the prop
const { entry } = Astro.props;
const { title } = entry.data;
const { Content } = await entry.render();
---

<Markdown title={title}>
	<div class="flex flex-col gap-2 mb-6">
		<h1 class="!mb-0">{title}</h1>
	</div>
	<Content />
</Markdown>
