{
	"useTabs": true,
	"tabWidth": 4,
	"singleQuote": true,
	"arrowParens": "avoid",
	"proseWrap": "never",
	"importOrder": [
		"",
		"<THIRD_PARTY_MODULES>",
		"",
		"^(@assets|@components|@layouts|@sections)(.*)$",
		"",
		"^../(.*)",
		"",
		"^./(.*)"
	],
	"plugins": [
		"prettier-plugin-astro",
		"prettier-plugin-tailwindcss",
		"@ianvs/prettier-plugin-sort-imports"
	],
	"tailwindFunctions": ["clsx"],
	"overrides": [
		{
			"files": "*.astro",
			"options": {
				"parser": "astro"
			}
		}
	]
}
