---
layout: default
---

<section class="section section-text-block">
	<h1 class="section-title">Matt Felten</h1>
	<p class="section-description">I'm a product designer in Los Angeles. I like boardgames. A lot.<br>I <a href="#work">work</a>, <a href="#write">write</a>, <a href="#speak">speak</a>, and <a href="http://readinglist.mattfelten.com">link</a>.</p>
</section>

<section id="work" class="section section-text-block">
	<h4 class="section-title">Work</h4>
	<ul>
		<li>I currently work at <a href="//dreamhost.com">DreamHost</a> leading the product design / UX team. We've done some really cool things to make web hosting more approachable. <a href="/work/dreamhost/" class="link-dark">See case studies.</a></li>
		<li>I was self-employed from 2010 to 2012 and got to work with some really great companies like <a href="//phuse.ca">Phuse</a>, <a href="//redbull.com">Red Bull</a>, <a href="//metadesign.com">MetaDesign</a>, <a href="//www.nba.com/clippers/">LA Clippers</a>, and <a href="//elephantik.com">Elephantik</a>. It was a fun couple of years.</li>
		<li>Prior, I worked at <a href="//silverliondesign.com">Silver Lion Design</a>, <a href="//evolvemedia.com">Evolve Media</a>, and <a href="//spoonfactory.com">Spoonfactory</a>, doing client-service design and web development. I worked on projects for <a href="//bestbuy.com">Best Buy</a> and <a href="//toshiba.com">Toshiba</a> among a ton of others.</li>
	</ul>
</section>

<section id="write" class="section">
	<h4 class="section-title">Writing</h4>
	<ul class="list-article">
		{% for post in paginator.posts %}
		<li>
			<span class="list-article-label">{{ post.date | date: "%Y %B %-d" }}</span>
			<span class="list-article-title"><a href="{% if post.type == "redirect" %}{{ post.redirect-url }}{% else %}{{ post.url }}{% endif %}">{{ post.title }}</a></span>
		</li>
		{% endfor %}
	</ul>
</section>

<section id="speak" class="section">
	<h4 class="section-title">Speaking</h1>
	<ul class="list-article">
		<li>
			<span class="list-article-label">2013 DreamCon</span>
			<span class="list-article-title"><a href="http://www.slideshare.net/MattFelten/dream-con-2013-49008170">UI Design, Sass, &amp; Front-end Frameworks</a></span>
		</li>
	</ul>
</section>

