---
layout: default
---

<section class="section">
	<h1 class="section-title">Matt Felten</h1>
	<p class="section-description">I'm a Product Designer at DreamHost in Los Angeles.<br />I <a href="#work">work</a>, <a href="#write">write</a>, <a href="#speak">speak</a>, and <a href="http://readinglist.mattfelten.com">link</a>.</p>
</section>

<section id="work" class="section">
	<h4 class="section-title">DreamHost</h4>
	<p class="section-description">2012&ndash;Present Lead UX Designer</p>
	<a href="/work/dreamhost/" class="image-link">
		<div class="image-full-width image-link-wrapper">
			<img src="/assets/images/work.dreamhost.homepage.png">
		</div>
		<span class="section-description">See selected projects</span>
	</a>
</section>

<section id="write" class="section">
	<h4 class="section-title">Writing</h4>
	<ul class="list-article">
		{% for post in paginator.posts %}
		<li>
			<span class="list-article-label">{{ post.date | date: "%Y %B %-d" }}</span>
			<span class="list-article-title"><a href="{% if post.type == "redirect" %}{{ post.redirect-url }}{% else %}{{ post.url }}{% endif %}">{{ post.title }}</a></span>
		</li>
		{% endfor %}
	</ul>
</section>

<section id="speak" class="section">
	<h4 class="section-title">Speaking</h1>
	<ul class="list-article">
		<li>
			<span class="list-article-label">2013 DreamCon</span>
			<span class="list-article-title"><a href="http://www.slideshare.net/MattFelten/dream-con-2013-49008170">UI Design, Sass, &amp; Front-end Frameworks</a></span>
		</li>
	</ul>
</section>

