---
import HTML from '../../layout/html.astro';
import { PasswordProtected } from '../../components/PasswordProtected';
import { SpinnerCircularFixed } from 'spinners-react';
import gallery from './gallery.png';
---

<HTML>
	<PasswordProtected password="gallery2024" client:only>
		<SpinnerCircularFixed
			size={32}
			thickness={100}
			speed={200}
			color="#36ad47"
			secondaryColor="rgba(0, 0, 0, 0.44)"
			className="fixed z-[-1] top-1/2 left-1/2 -mt-2 -ml-2"
			client:load
		/>
		<div
			style={{
				backgroundImage: `url(${gallery.src})`,
				backgroundRepeat: 'no-repeat',
				backgroundSize: 'contain',
				width: 'auto',
				height: 16840,
				aspectRatio: 2000 / 16840,
			}}
		>
		</div>
	</PasswordProtected>
</HTML>
