---
import Slide from '@decks/templates/Slide.astro';
---

<Slide subtitle="Problem Statement" align="center">
	<p
		class="text-subdued [&>strong]:text-default m-0 max-w-[1401px] text-6xl leading-[1.16] tracking-[-0.01em] [&>strong]:font-medium"
	>
		Currently a ServiceTitan employee who needs to <strong
			>quickly and efficiently create solutions to user problems</strong
		> to allow our customers to flourish can become bogged down and frustrated
		by not having <strong
			>consistent and easy-to-use tools, processes, and alignment.</strong
		>
	</p>
</Slide>
