---
import Slide from '@decks/templates/Slide.astro';

const url = 'https://mattfelten.com';
---

<Slide hideHeader align="center">
	<div class="text-strong flex justify-center text-7xl font-medium">
		✌️ Thank you
	</div>
	<div
		class="absolute right-7 bottom-8.75 flex items-center gap-4 text-4xl"
	>
		<a href={url}>{url}</a>
	</div>
</Slide>
