.list-article {
	@include list-unset();
	display: table;
	margin: 1.5em 0;

	li {
		display: table-row;
		margin-top: 0;

		&:before {
			content: '';
			display: none;
		}
	}
}

.list-article-label,
.list-article-title {
	display: table-cell;
	padding: .25em 0;
}

.list-article-label {
	padding-right: 2em;
	white-space: nowrap;
}

.list-article-title a {
	color: $dark;
}
