.section {
	margin: 3.5em 2em;
}

@media (min-width: 800px) {
	.section {
		margin: 7em;
	}
}

.section-title {
	color: $dark;
	font-size: 1em;
	font-weight: $font-weight;
	margin: 0;
}

.section-description {
	margin: .25em 0;
}
