<section id="about">
	<div id="about-wrap">
		<article>
			<span id="avatar"><img src="http://s.gravatar.com/avatar/265f3b4f6ef5b8e802d0421c5767b686?s=100" width="100" height="100"></span>
			<h1>Hi, my name is Matt.</h1>
			<p>I'm a Product Designer at DreamHost in Los Angeles.</p>
			<p>Here's my <a href="#work">work</a>, <a href="#writing">writing</a>, and <a href="http://readinglist.mattfelten.com">reading list</a>.</p>
			<ul>
				{% for link in site.data.social %}
				<li><a href="{{ link[1] }}" class="icon-{{ link[0] }}"><span>{{ link[0] | capitalize }}</span></a></li>
				{% endfor %}
			</ul>
		</article>
	</div>
</section>
