<section id="writing" class="posts">
	<h2 class="home-heading">Writing</h2>
	<ul>
	{% for post in paginator.posts %}
		<li><span class="post-date">{{ post.date | date: "%Y %B %-d" }}</span><span class="post-title"><a href="{{ post.url }}">{{ post.title }}</a></li></span>
	{% endfor %}
	</ul>
	<h2 class="home-heading">Speaking</h2>
	<ul>
		<li><span class="post-date">2013 DreamCon</span><span class="post-title"><a href="http://www.slideshare.net/MattFelten/dream-con-2013-49008170">UI Design, Sass and Front-end Frameworks</a></span></li>
	</ul>
</section>
