---
import Section from '../../components/Section.astro';
---

<Section title="Subscribe to my newsletter" class="line-length-lg">
	<p class="mb-2">
		This is where I drop quick notes about design, music, life,
		and whatever catches my attention. Think of it like a slow,
		quiet feed of things I'd send a friend.
	</p>
	<form
		action="https://yourname.substack.com/api/v1/free"
		method="post"
		target="_blank"
		class="flex gap-2"
	>
		<input
			type="hidden"
			name="redirect"
			value="https://mattfelten.com/newsletter/thank-you"
		/>
		<input type="hidden" name="tags" value="website" />
		<input
			class="bg-strong/10 border-none rounded-md p-1.5 w-full focus-visible:bg-strong/7 transition-colors focus:outline-0"
			type="email"
			name="email"
			placeholder="name@example.com"
			required
		/>
		<button
			class="p-1.5 rounded-md text-background bg-accent cursor-default focus:outline-0 focus-visible:bg-accent/90"
			type="submit">Subscribe</button
		>
	</form>
</Section>
