---
import { getCollection } from 'astro:content';
import List from '@components/List.astro';
import Section from '@components/Section.astro';

const speaking = (await getCollection('speaking')).sort(
	(a, b) => b.data.date.valueOf() - a.data.date.valueOf()
);
---

{
	speaking && (
		<Section title="Speaking">
			<List list={speaking} />
		</Section>
	)
}
