---
import Layout from '@layouts/default.astro';
import {
	Intro,
	Projects,
	Writing,
	Speaking,
	Newsletter,
} from '@sections/index';
---

<Layout>
	<Intro />
	<Projects />
	<div class="flex gap-8">
		<Writing />
		<Speaking />
	</div>
	<Newsletter />
</Layout>
