---
const title = "Test";

const work = await Astro.glob('./work/**/*.md');
work.sort((a, b) => new Date(b.frontmatter.year).valueOf() - new Date(a.frontmatter.year).valueOf());

const posts = await Astro.glob('./post/**/*.md');
posts.sort((a, b) => new Date(b.frontmatter.date).valueOf() - new Date(a.frontmatter.date).valueOf());

const speaking = await Astro.glob('./speaking/**/*.md');
speaking.sort((a, b) => new Date(b.frontmatter.date).valueOf() - new Date(a.frontmatter.date).valueOf());
---
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width">
	<title>{title}</title>

	<link rel="icon" type="image/x-icon" href="/favicon.ico" />
</head>
<body>
	<main>
		<ul>
			{work.map(
				({ frontmatter: { title, redirect }, url}) => <li><a href={redirect || url}>{title}</a></li>
			)}
		</ul>
		<ul>
			{posts.map(
				({ frontmatter: { title, redirect }, url}) => <li><a href={redirect || url}>{title}</a></li>
			)}
		</ul>
		<ul>
			{speaking.map(
				({frontmatter: { title, redirect }, url})=> <li><a href={redirect || url}>{title}</a></li>
			)}
		</ul>
	</main>
</body>
</html>
