---
import Layout from '../layout/default.astro';

const title = "Test";

const work = await Astro.glob('./work/**/*.md');
work.sort((a, b) => new Date(b.frontmatter.year).valueOf() - new Date(a.frontmatter.year).valueOf());

const posts = await Astro.glob('./post/**/*.md');
posts.sort((a, b) => new Date(b.frontmatter.date).valueOf() - new Date(a.frontmatter.date).valueOf());

const speaking = await Astro.glob('./speaking/**/*.md');
speaking.sort((a, b) => new Date(b.frontmatter.date).valueOf() - new Date(a.frontmatter.date).valueOf());
---
<Layout title={title}>
	<ul>
		{work.map(
			({ frontmatter: { title, redirect }, url}) => <li><a href={redirect || url}>{title}</a></li>
		)}
	</ul>
	<ul>
		{posts.map(
			({ frontmatter: { title, redirect }, url}) => <li><a href={redirect || url}>{title}</a></li>
		)}
	</ul>
	<ul>
		{speaking.map(
			({frontmatter: { title, redirect }, url})=> <li><a href={redirect || url}>{title}</a></li>
		)}
	</ul>
</Layout>
