---
import Layout from '@layouts/default.astro';
import {
	Intro,
	Newsletter,
	Projects,
	Speaking,
	Work,
	Writing,
} from '@sections/index';
---

<Layout>
	<Intro />
	<Work />
	<Projects />
	<div class="flex gap-8">
		<Writing />
		<Speaking />
	</div>
	<Newsletter />
</Layout>
