<style>
	div {
		margin-top: 2em;
		margin-bottom: 2em;
		width: 94vw;
		display: flex;
		flex-direction: column;
		gap: var(--spacing-2);

		> * {
			box-sizing: border-box;
			flex: 1;
		}

		@media (min-width: 640px) {
			flex-direction: row;
			gap: var(--spacing-4);

			> * {
				margin: 0;
			}
		}

		.prose-case-study & {
			width: auto;
		}
	}
</style>

<div class="asset-row-wrap">
	<slot />
</div>
