.Link {
	border-bottom: .125em solid $color-accent;
	color: $color-text;
	cursor: pointer;
	font-weight: bold;
	position: relative;
	top: 0;
	text-decoration: none;
	transition: all $hover-transition-duration ease-in-out;

	&:hover { top: -4px; }
}
