---
import { format } from 'date-fns';
const { list, title } = Astro.props;
const formatDate = date => format(date, 'MMMM d, yyyy');
---

<style>
	.hover:hover {
		transform: translate(theme('spacing.1'), 0);
	}
</style>

{
	list && (
		<section>
			<h3 class="mb-1 font-bold text-subdued">{title}</h3>
			<ul class="space-y-4">
				{list.map(({ data: { title, date, redirect }, slug }) => (
					<li>
						<a
							href={redirect || '/posts/' + slug}
							class="inline-block hover"
						>
							<span class="block text-2xl font-medium">
								{title}
							</span>
							<time class="text-subdued font-medium">
								{formatDate(date)}
							</time>
						</a>
					</li>
				))}
			</ul>
		</section>
	)
}
