---
import { format } from 'date-fns';
import { RxArrowTopRight } from 'react-icons/rx';
const { list } = Astro.props;
const formatDate = date => format(date, 'MMMM d, yyyy');
---

<style>
	.hover:hover,
	.hover:focus-visible {
		transform: translate(theme('spacing.1'), 0);
	}
</style>

{
	list && (
		<ul class="space-y-4">
			{list.map(({ data: { title, date, redirect }, slug }) => (
				<li>
					<a
						href={redirect || '/posts/' + slug}
						class="inline-block hover group focus:outline-0"
					>
						<span class="block text-2xl font-medium">
							{title}
							{redirect && (
								<span class="group-hover:text-accent group-focus-within:text-accent text-weak ml-0.5 transition text-xl">
									<RxArrowTopRight className="inline-block align-text-top" />
								</span>
							)}
						</span>
						<time class="text-subdued font-medium">
							{formatDate(date)}
						</time>
					</a>
				</li>
			))}
		</ul>
	)
}
