---
const { list, title } = Astro.props;
const formatDate = date => new Date(date).toLocaleDateString("en-US", { month: 'long', day: 'numeric', year: 'numeric'})
---
<style>
	a:hover {
		transform: translate(theme('spacing.1'), 0);
	}
</style>

{ list && (
	<section>
		<h3 class="font-bold mb-1">{title}</h3>
		<ul class="space-y-3">
			{list.map(
				({ frontmatter: { title, date, redirect }, url}) => (
					<li><a href={redirect || url} class="inline-block hover">
						<span class="block text-2xl font-medium">{title}</span>
						<span>{formatDate(date)}</span>
					</a></li>
				)
			)}
		</ul>
	</section>
)}
