.MetaLink {
	color: #000;
	display: block;
	text-decoration: none;
}

.MetaLink__title {
	border-bottom: 4px solid #3DDFC2;
	font-weight: bold;
}

.MetaLink__meta {
	display: block;
	margin-top: 8px;
}
