.Section {
	display: flex;
	margin-left: 3vw;
	margin-right: 3vw;

	& + & { margin-top: 160px; }

	&::after,
	&::before {
		content: '';
		display: block;
		flex-shrink: 0;
	}

	&::before { width: 5%; }
	&::after { width: 15%;}
}

.Section__wrap { flex-grow: 1; }

/* Padding */
.Section--padding-small {
	&::before,
	&::after { content: none; }

	.Section__title {
		margin-left: 5%;
		margin-right: 15%;
	}
}

/* Content Types */
.Section--text .Section__wrap,
.Section--two-col-list .Section__wrap { max-width: 28em; }

@media (min-width: 1450px) {
	.Section--two-col-list {
		.Section__wrap { max-width: none; }
	}
}
