---
const { value, label } = Astro.props;
---

<div class="not-prose flex flex-col gap-1">
	<span class="text-strong text-2xl font-medium leading-none">{value}</span>
	<span class="text-subdued text-sm leading-snug">{label}</span>
</div>
