---
import Card from './Card.astro';

const { value, label } = Astro.props;
---

<Card compact>
	<span class="text-strong text-2xl leading-none font-medium">{value}</span>
	<span class="text-subdued text-sm leading-snug">{label}</span>
</Card>
