.image-link {
	color: $dark;
	font-weight: normal;

	&:hover {
		background: none;
	}

	img {
		display: block;
		-webkit-transition: opacity .15s, -webkit-transform .15s;
		-moz-transition: opacity .15s, -moz-transform .15s;
		transition: opacity .15s, transform .15s;
		-webkit-backface-visibility: hidden;
		-moz-backface-visibility: hidden;
		backface-visibility: hidden;
	}

	&:hover {
		.image-link-wrapper {
			background: $accent;
		}

		img {
			opacity: 0.4;
			-webkit-transform: scale3d(1.1,1.1,1);
			-moz-transform: scale3d(1.1,1.1,1);
			transform: scale3d(1.1,1.1,1);
		}
	}
}

.image-link-wrapper {
	background: #f7f7f7;
	overflow: hidden;
}
