.section-text-block {
	line-height: 1.4;
	max-width: 35em;

	p {
		margin: 2em 0;
	}

	img {
		width: 100%;
	}

	hr {
		margin: 5.5em 6.5em;
		display: block;
		height: 1px;
		border: 0;
		border-top: 1px solid lighten($light, 30%);
	}

	.section-title {
		& + p {
			margin-top: 1em;
		}
	}

	strong {
		color: $dark;
	}

	&.section-text-dark {
		color: $dark;
	}
}
