@import "home-about";
@import "home-work";
@import "home-writing";
@import "home-contact";

.home-heading {
	margin-top: 0;
	text-align: center;

	* + & {
		margin-top: 2.5em;
	}
}

#writing {
	padding: 85px 0 100px;
	margin: 0 auto;
	max-width: 420px;
}

#work,
#writing {
	font-size: 20px;

	ul {
		@include nolist();
	}
}

@media (min-width:900px) {
	#home-work-writing {
		font-size: 0;
		border-collapse: collapse;
		border-spacing: 0;
		display: table;
		width: 100%;
	}

	#work,
	#writing {
		display: table-cell;
		max-width: none;
		vertical-align: top;
		width: 50%;
	}
}
