html,
body,
#page-container {
	height: 100%;
}

body {
	color: $grey;
}

#page-container {
	@include font-size($base-font-size);
	font-family: Miso, 'Helvetica Neueu', Helvetica, Arial, sans-serif;
	font-weight: 300;
	line-height: 1.1;
}

header {
	background: $grey;
	color: $white;
	text-align: center;

	padding: 30px;

	a {
		border-color: $white;
		color: $white;

		&:hover {
			border-color: $teal;
		}
	}
}

#page-404 {
	display: table;
	height: 100%;
	margin: auto;
	text-align: center;
	width: 450px;

	.wrap {
		display: table-cell;
		vertical-align: middle;
	}

	h1 {
		margin: 0;
	}
}
