::selection {
	background: $accent;
	color: $dark;
}
::-moz-selection {
	background: $accent;
	color: $dark;
}

html {
		font-size: 10px;
}

@media (min-width: 800px) {
	html {
		font-size: 15px;
	}
}

body {
	color: $light;
	font: $font-weight $font-size/1 'Work Sans', 'Helvetica Neueu', Helvetica, Arial, sans-serif;
}

a {
	color: $light;
	transition: color .15s;

	&:hover {
		color: $accent;
	}
}

.highlight pre {
	border: 1px solid #eee;
	border-radius: 3px;
	line-height: 1.2;
	margin: 2em 0 3em;
	padding: 1em;
}

.highlight pre code {
	font-size: 12px;
}

blockquote {
	background: #f9f9f9;
	border-radius: 3px;
	font-size: 32px;
	line-height: 1.2;
	margin: 1.5em 0;
	padding: 1em;
	padding-left: 2em;
	quotes: "\201C""\201D""\2018""\2019";
	position: relative;

	@include clearfix;

	&:before {
		color: #ccc;
		content: open-quote;
		font-size: 2.5em;
		position: absolute;
		top: .2em;
		left: .2em;
	}

	p {
		display: inline;
	}

	cite {
		color: $light;
		font-size: .7em;
		float: right;
		margin-top: .4em;
	}
}
