@font-face {
    font-family: 'Work Sans';
    src: local('Work Sans'),
         url('../fonts/WorkSans-Regular.woff2') format('woff2'),
         url('../fonts/WorkSans-Regular.woff') format('woff'),
         url('../fonts/WorkSans-Regular.ttf') format('truetype');
    font-weight: $font-weight;
    font-style: normal;
}
