---
import Section from '@components/Section.astro';
import Layout from '@layouts/default.astro';
import Newsletter from '@sections/newsletter.astro';

let posts = [];

if (import.meta.env.BUTTONDOWN_TOKEN) {
	const url = new URL(`https://api.buttondown.com/v1/emails`);
	const options = {
		method: 'GET',
		headers: {
			Authorization: `Token ${import.meta.env.BUTTONDOWN_TOKEN}`,
		},
	};

	const response = await fetch(url.toString(), options);
	const data = await response.json();
	posts = data.results;
}
---

<Layout>
	{
		posts.length > 0 && (
			<Section title="Newsletters">
				{posts.map(post => (
					<a href={`/newsletter/${post.slug}`}>
						<h2>{post.subject}</h2>
					</a>
				))}
			</Section>
		)
	}
	<Newsletter />
</Layout>
