---
import { getCollection } from 'astro:content';
import { RxArrowTopRight } from 'react-icons/rx';

import Section from '@components/Section.astro';

const projects = await getCollection('projects');
---

{
	projects.length > 0 && (
		<Section title="Projects">
			<ul class="space-y-4">
				{projects.map(
					({
						data: {
							title,
							description,
							url,
						},
					}) => (
						<li>
							<a
								href={url}
								class="group block"
								target="_blank"
								rel="noopener noreferrer"
							>
								<div class="flex items-baseline gap-1">
									<span class="text-strong group-hover:text-accent font-medium transition-colors">
										{title}
									</span>
									<RxArrowTopRight className="text-weak group-hover:text-accent inline-block text-lg transition-colors" />
								</div>
								<p class="text-default">
									{description}
								</p>
							</a>
						</li>
					),
				)}
			</ul>
		</Section>
	)
}
