---
import { getCollection } from 'astro:content';
import List from '@components/List.astro';
import Section from '@components/Section.astro';

const speaking = (await getCollection('speaking')).sort(
	(a, b) => b.data.date.valueOf() - a.data.date.valueOf()
);
---

{
	speaking && (
		<Section title="Speaking">
			<List list={speaking} />

			<a
				class="mt-2 text-weak items-center gap-0-5 inline-flex hover:text-subdued focus:outline-0 focus-visible:text-subdued transition"
				href="mailto:m@mattfelten.com"
				data-obfuscation="0"
			>
				Send me an email about speaking opportunities →
			</a>
		</Section>
	)
}
