---
import { getCollection } from 'astro:content';

import List from '@components/List.astro';
import Section from '@components/Section.astro';

const speaking = (await getCollection('speaking')).sort(
	(a, b) => b.data.date.valueOf() - a.data.date.valueOf(),
);
---

{
	speaking && (
		<Section title="Speaking">
			<List list={speaking} />

			<a
				class="text-weak gap-0-5 hover:text-subdued focus-visible:text-subdued mt-2 inline-flex items-center transition focus:outline-0"
				href="mailto:m@mattfelten.com"
				data-obfuscation="0"
			>
				Send me an email about speaking opportunities →
			</a>
		</Section>
	)
}
