---
import { getCollection } from 'astro:content';

import WorkCard from '@components/WorkCard.astro';

const work = (await getCollection('work'))
	.filter(item => item.data.featured)
	.sort((a, b) => b.data.year - a.data.year);

const [hero, ...rest] = work;
---

{
	work.length > 0 && (
		<section>
			<div class="space-y-6 text-xl">
				{hero && <WorkCard entry={hero} hero />}

				{rest.length > 0 && (
					<ul class="grid gap-6 sm:grid-cols-2">
						{rest.map(entry => (
							<li>
								<WorkCard entry={entry} />
							</li>
						))}
					</ul>
				)}
			</div>
		</section>
	)
}
