---
import { getCollection } from 'astro:content';
import { RxArrowRight } from 'react-icons/rx';

import List from '@components/List.astro';
import Section from '@components/Section.astro';

const posts = (await getCollection('posts'))
	.filter(post => !post.data.hidden && !post.data.draft)
	.sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf())
	.slice(0, 4);
---

{
	posts && (
		<Section title="Writing">
			<List list={posts} />
			<a
				class="text-weak gap-0-5 hover:text-subdued focus-visible:text-subdued mt-2 inline-flex items-center transition focus:outline-0"
				href="/posts"
			>
				See all articles
				<RxArrowRight />
			</a>
		</Section>
	)
}
