---
import BleedImage from '@decks/templates/BleedImage.astro';
import Slide from '@decks/templates/Slide.astro';

import practice from '../images/practice.png?url';
---

<Slide title="Mission Control" subtitle="Building the Design Practice">
	<BleedImage src={practice} alt="Design practice artifact" bleed="right" />
	<div class="max-w-xl">
		<ul class="flex list-none flex-col gap-4">
			<li class="text-subdued text-3xl leading-snug">
				Introduced user research and discovery as a standard step
			</li>
			<li class="text-subdued text-3xl leading-snug">
				Shifted design from final polish to shaping what we build
			</li>
			<li class="text-subdued text-3xl leading-snug">
				Built the design and frontend engineering teams from the ground
				up
			</li>
		</ul>
	</div>
</Slide>
