@utility prose {
	--tw-prose-body: var(--color-default);
	--tw-prose-headings: var(--color-strong);
	--tw-prose-lead: var(--color-default);
	--tw-prose-links: var(--color-default);
	--tw-prose-bold: var(--color-default);
	--tw-prose-counters: var(--color-default);
	--tw-prose-bullets: var(--color-default);
	--tw-prose-hr: var(--color-default);
	--tw-prose-quotes: var(--color-default);
	--tw-prose-quote-borders: var(--color-default);
	--tw-prose-captions: var(--color-default);
	--tw-prose-code: var(--color-default);
	--tw-prose-pre-code: var(--color-default);
	--tw-prose-pre-bg: var(--color-default);
	--tw-prose-th-borders: var(--color-default);
	--tw-prose-td-borders: var(--color-default);
	--tw-prose-invert-body: var(--color-background);
	--tw-prose-invert-headings: var(--color-background);
	--tw-prose-invert-lead: var(--color-background);
	--tw-prose-invert-links: var(--color-background);
	--tw-prose-invert-bold: var(--color-background);
	--tw-prose-invert-counters: var(--color-background);
	--tw-prose-invert-bullets: var(--color-background);
	--tw-prose-invert-hr: var(--color-background);
	--tw-prose-invert-quotes: var(--color-background);
	--tw-prose-invert-quote-borders: var(--color-background);
	--tw-prose-invert-captions: var(--color-background);
	--tw-prose-invert-code: var(--color-background);
	--tw-prose-invert-pre-code: var(--color-background);
	--tw-prose-invert-pre-bg: rgb(0 0 0 / 50%);
	--tw-prose-invert-th-borders: var(--color-background);
	--tw-prose-invert-td-borders: var(--color-background);
}

@custom-variant prose-inline-code (&.prose
	:where(:not(pre) > code):not(:where([class~="not-prose"] *)));
