@utility prose {
	--tw-prose-body: var(--color-default);
	--tw-prose-headings: var(--color-strong);
	--tw-prose-lead: var(--color-default);
	--tw-prose-links: var(--color-default);
	--tw-prose-bold: var(--color-default);
	--tw-prose-counters: var(--color-default);
	--tw-prose-bullets: var(--color-default);
	--tw-prose-hr: var(--color-default);
	--tw-prose-quotes: var(--color-default);
	--tw-prose-quote-borders: var(--color-default);
	--tw-prose-captions: var(--color-default);
	--tw-prose-code: var(--color-default);
	--tw-prose-pre-code: var(--color-default);
	--tw-prose-pre-bg: var(--color-default);
	--tw-prose-th-borders: var(--color-default);
	--tw-prose-td-borders: var(--color-default);
	--tw-prose-invert-body: var(--color-background);
	--tw-prose-invert-headings: var(--color-background);
	--tw-prose-invert-lead: var(--color-background);
	--tw-prose-invert-links: var(--color-background);
	--tw-prose-invert-bold: var(--color-background);
	--tw-prose-invert-counters: var(--color-background);
	--tw-prose-invert-bullets: var(--color-background);
	--tw-prose-invert-hr: var(--color-background);
	--tw-prose-invert-quotes: var(--color-background);
	--tw-prose-invert-quote-borders: var(--color-background);
	--tw-prose-invert-captions: var(--color-background);
	--tw-prose-invert-code: var(--color-background);
	--tw-prose-invert-pre-code: var(--color-background);
	--tw-prose-invert-pre-bg: rgb(0 0 0 / 50%);
	--tw-prose-invert-th-borders: var(--color-background);
	--tw-prose-invert-td-borders: var(--color-background);
}

.prose {
	font-size: var(--text-lg);
	line-height: var(--line-height-base);
}

@variant md {
	.prose {
		font-size: var(--text-xl);
	}
}

.prose {
	h1:not(.not-prose),
	h2:not(.not-prose),
	h3:not(.not-prose),
	h4:not(.not-prose),
	h5:not(.not-prose),
	h6:not(.not-prose) {
		text-wrap: pretty;
	}

	h1:not(.not-prose) {
		font-size: 1.875em;
		font-weight: 500;
		margin-top: 1rlh;
		margin-bottom: 1rlh;
	}

	h2:not(.not-prose) {
		font-size: 1.5em;
		font-weight: 500;
		margin-top: 2rlh;
		margin-bottom: 1rlh;
	}

	h3:not(.not-prose) {
		font-size: 1.125em;
		font-weight: 600;
		margin-top: 2rlh;
		margin-bottom: 1rlh;
	}

	h4:not(.not-prose),
	h5:not(.not-prose),
	h6:not(.not-prose) {
		font-size: 1em;
		font-weight: 600;
		margin-top: 2rlh;
		margin-bottom: 1rlh;
	}

	p + p:not(.not-prose) {
		margin-top: 1rlh;
	}

	& > .asset-wrap:not(.not-prose) {
		margin-top: 2rlh;
		margin-bottom: 2rlh;
	}

	ul:not(.not-prose),
	ol:not(.not-prose) {
		margin-top: 1rlh;
		margin-bottom: 1rlh;
	}

	ul:not(.not-prose) {
		list-style-type: '– ';
	}

	:not(.not-prose)::marker {
		color: var(--color-weak);
	}

	hr:not(.not-prose) {
		opacity: 0.5;
		height: 2px;
		border: none;
		background-color: var(--color-weak);
	}

	a:not(.not-prose):hover,
	a:not(.not-prose):focus-visible {
		text-decoration-color: var(--color-accent);
	}

	a:not(.not-prose):focus {
		outline: none;
	}

	picture:not(.not-prose) {
		margin-bottom: 0;
	}
}

.prose :where(:not(pre) > code):not(:where([class~='not-prose'] *)) {
	background-color: #262626;
	padding-top: var(--spacing-0-5);
	padding-bottom: var(--spacing-0-5);
	padding-left: var(--spacing-1);
	padding-right: var(--spacing-1);
	border-radius: 0.25rem;
	white-space: break-spaces;
	font-size: 85%;
}

.prose :where(:not(pre) > code):not(:where([class~='not-prose'] *))::before,
.prose :where(:not(pre) > code):not(:where([class~='not-prose'] *))::after {
	content: none;
}
