---
layout: default
---

<section class="section">
	<p class="section-title">Hi, my name is Matt. I wrote this.</p>
	<p class="section-description"><a href="/">Go back to my homepage.</a></p>
</section>

{% if page.featured-image %}
<section class="section">
	<div class="image-full-width">
		<img src="/assets/images/{{ page.featured-image }}">
	</div>
</section>
{% endif %}

<article class="section">
	<h1 class="section-title">{{ page.title }}</h1>
	<p class="section-description">{{ page.date | date_to_string }}</p>
</article>

<div class="section section-text-block">
	{{ content }}
</div>

<section class="section">
	<div class="pagination">
		<span class="pagination-item">
		{% if page.previous.url %}
			<a href="{{page.previous.url}}" class="pagination-title">{{page.previous.title}}</a> Older
		{% endif %}
		</span>
		<span class="pagination-item">
		{% if page.next.url %}
			<a class="pagination-title" href="{{page.next.url}}">{{page.next.title}}</a> Newer
		{% endif %}
		</span>
	</div>
</section>
