---
import { ImageOverlay } from '../components/ImageOverlay.jsx';

import Footer from './Footer.astro';
import Header from './Header.astro';
import HTML from './html.astro';

const { title, noindex } = Astro.props;
---

<HTML title={title} noindex={noindex}>
	<Header />
	<main class="space-y-8">
		<slot />
	</main>
	<Footer />
	<ImageOverlay client:only="react" />
</HTML>
