---
import Header from './Header.astro';
import Footer from './Footer.astro';
import HTML from './html.astro';
---

<HTML>
	<Header />
	<main class="space-y-8">
		<slot />
	</main>
	<Footer />
</HTML>
