---
import {
	SiGithub,
	SiLinkedin,
	SiBluesky,
	SiReaddotcv,
} from '@icons-pack/react-simple-icons';

const social = [
	{
		icon: SiBluesky,
		url: '//bsky.app/profile/mattfelten.com',
	},
	{
		icon: SiGithub,
		url: '//github.com/mattfelten',
	},
	{
		icon: SiReaddotcv,
		url: '//read.cv/mattfelten',
	},
	{
		icon: SiLinkedin,
		url: '//linkedin.com/in/mattfelten/',
	},
];
---

<style>
	@keyframes wave {
		0% {
			transform: rotate(0deg);
		}
		/* The following five values can be played with to make the waving more or less extreme */
		15% {
			transform: rotate(14deg);
		}
		30% {
			transform: rotate(-8deg);
		}
		45% {
			transform: rotate(14deg);
		}
		60% {
			transform: rotate(-4deg);
		}
		75% {
			transform: rotate(10deg);
		}
		100% {
			transform: rotate(0deg);
		}
	}

	.home {
		&::after {
			opacity: 0;
			transition: opacity 0.2s;
			content: '👋';
			margin-left: 0.5em;
			display: inline-block;
			animation-name: wave;
			animation-duration: 1.5s;
			animation-iteration-count: infinite;
			transform-origin: 70% 70%;
		}

		&:hover::after,
		&:focus-visible::after {
			opacity: 1;
		}
	}
</style>

<div class="flex flex-col py-2 gap-1">
	<a class="home block font-bold text-lg focus:outline-0" href="/"
		>Matt Felten</a
	>

	<ul class="flex gap-2">
		{
			social.map(({ icon: Icon, url }, i) => (
				<li>
					<a
						class="block hover text-weak hover:text-strong focus:outline-0 focus-visible:text-strong"
						href={url}
					>
						<Icon width={18} />
					</a>
				</li>
			))
		}
	</ul>
</div>
