---
import { Twitter, Github, Medium, Dribbble, Instagram, Spotify, Linkedin } from '@icons-pack/react-simple-icons';

const social = [
	{
		icon: Twitter,
		url: '//twitter.com/mattfelten',
	},
	{
		icon: Github,
		url: '//github.com/mattfelten',
	},
	{
		icon: Medium,
		url: '//medium.com/@mattfelten',
	},
	{
		icon: Dribbble,
		url: '//dribbble.com/mattfelten',
	},
	{
		icon: Instagram,
		url: '//instagram.com/mattfelten',
	},
	{
		icon: Spotify,
		url: '//open.spotify.com/user/mattfelten',
	},
	{
		icon: Linkedin,
		url: '//linkedin.com/in/mattfelten/',
	},
];
---
<style>
	@keyframes wave {
		0% { transform: rotate( 0.0deg) }
		15% { transform: rotate(14.0deg) }  /* The following five values can be played with to make the waving more or less extreme */
		30% { transform: rotate(-8.0deg) }
		45% { transform: rotate(14.0deg) }
		60% { transform: rotate(-4.0deg) }
		75% { transform: rotate(10.0deg) }
		100% { transform: rotate( 0.0deg) }

	}
	.home {
		display: block;

		@media (max-width: 440px) {
			display: none;
		}

		&::after {
			opacity: 0;
			transition: opacity .2s;
			content: '👋';
			margin-left: .5em;
			display: inline-block;
			animation-name: wave;
			animation-duration: 1.5s;
			animation-iteration-count: infinite;
			transform-origin: 70% 70%;
		}

		&:hover::after {
			opacity: 1;
		}
	}

	.social {
		display: flex;
		gap: theme(spacing.2);
		align-self: flex-end;

		a {
			display: block;
			opacity: 0.4;
			transition: opacity;
			@apply transition;

			&:hover {
				opacity: 1;
				@apply hover-up;
			}
		}
	}
</style>

<a class="home" href="/">Matt Felten</a>

<ul class="social">
	{social.map(({icon: Icon, url}, i) => (
		<li>
			<a href={url}>
				<Icon width={18} />
			</a>
		</li>
	))}
</ul>
