---
import {
	SiGithub,
	SiLinkedin,
	SiBluesky,
	SiReaddotcv,
} from '@icons-pack/react-simple-icons';

const social = [
	{
		icon: SiBluesky,
		url: '//bsky.app/profile/mattfelten.com',
	},
	{
		icon: SiGithub,
		url: '//github.com/mattfelten',
	},
	{
		icon: SiReaddotcv,
		url: '//read.cv/mattfelten',
	},
	{
		icon: SiLinkedin,
		url: '//linkedin.com/in/mattfelten/',
	},
];
---

<style>
	@keyframes wave {
		0% {
			transform: rotate(0deg);
		}
		/* The following five values can be played with to make the waving more or less extreme */
		15% {
			transform: rotate(14deg);
		}
		30% {
			transform: rotate(-8deg);
		}
		45% {
			transform: rotate(14deg);
		}
		60% {
			transform: rotate(-4deg);
		}
		75% {
			transform: rotate(10deg);
		}
		100% {
			transform: rotate(0deg);
		}
	}

	div {
		display: flex;
		flex-direction: column;
		@apply py-2 gap-1;
	}

	.home {
		@apply block font-bold text-lg;

		@media (max-width: 440px) {
			display: none;
		}

		&::after {
			opacity: 0;
			transition: opacity 0.2s;
			content: '👋';
			margin-left: 0.5em;
			display: inline-block;
			animation-name: wave;
			animation-duration: 1.5s;
			animation-iteration-count: infinite;
			transform-origin: 70% 70%;
		}

		&:hover::after {
			opacity: 1;
		}
	}

	.social {
		@apply flex gap-2;

		a {
			display: block;
			@apply hover text-weak;

			&:hover {
				@apply text-strong;
			}
		}
	}
</style>

<div>
	<a class="home" href="/">Matt Felten</a>

	<ul class="social">
		{
			social.map(({ icon: Icon, url }, i) => (
				<li>
					<a href={url}>
						<Icon width={18} />
					</a>
				</li>
			))
		}
	</ul>
</div>
