---
const Tag = Astro.url.pathname === '/' ? 'h1' : 'h3';
---

<style>
	a {
		display: block;

		@apply text-default;
		@apply font-bold;
		@apply text-xl;
		@apply hover;
	}
</style>

<Tag>
	<a href="/">Matt Felten</a>
</Tag>
