---
import Layout from './markdown.astro';
const { content: { title, date } } = Astro.props;
const niceDate = new Date(date).toLocaleDateString("en-US", { month: 'long', day: 'numeric', year: 'numeric'})
---
<style>
	.title { margin-bottom: 0; }
	.date {
		@apply text-base mt-2;
	}
</style>

<Layout title={title}>
	<h1 class="title">{title}</h1>
	<p class="date">{niceDate}</h1>
	<slot />
</Layout>
